@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');
@import '_media-queries.scss';
@import '_helper.scss';

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

body {
    font-family: 'B612', sans-serif;
    padding-top: 88px;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.next-nav {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, .16);
    @include lt-sm {
        justify-content: space-between;
    }
    .navbar-brand {
        margin-right: 50px;
        margin-left: 15px;

        .next-logo {
            font-family: 'Staatliches', cursive;
            font-size: 35px;
            margin-bottom: 0;
        }
    }

    .nav-item {
        padding: 15px;
        font-weight: 700;
        @include gt-sm {
            margin-right: 50px;
        }
        .next-logo {
            margin-bottom: 0;
        }
    }
}

.main-section {
    padding: 45px 0;

    .main-title {
        text-align: center;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
}

.card {
    margin-bottom: 30px;

    .card-text {
        height: 72px;
        overflow: hidden;
    }
    
    .card-btn {
        margin-right: 15px;
        min-width: 120px;

        &.edit {
            background-color: green;
        }
    }
}

.spinner {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-item-form {
    max-width: 400px;
    margin: 20px auto;
}

.product-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.shop-detail {

    .shop-btn {
        margin-right: 15px;
    }

    .card {
        .card-text {
            span {
                font-weight: bold;
            }
        }    
    }
}

.contact-link {
    display: inline-block;
    text-decoration: underline;
    margin-bottom: 10px;
}

.input-page {
    height: calc(100vh - 88px);
    width: 100vw;
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 0%), url(/images/input.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}